.formularioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioContainer h3{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: black;
}

.formularios{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.formulario label{
    font-weight: 500;
    color: black;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.formulario h4{
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
}

.formulario input{
    border: 1px solid #0A2239;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
}

.formulario textarea{
    resize: none;
    border: 1px solid #0A2239;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    color: black;
}

.formulario textarea:focus{
    outline: none;
    border: 2px solid #0A2239;
    color: black;
}

.formularioContainer button{
    margin-top: 20px;
    color: #0A2239;
    border: 1px solid #0A2239;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 10px;
    width: max-content;
    margin-bottom: 20px;
    background-color: white;
}

.formulario input[type=number]::-webkit-inner-spin-button,
.formulario input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.formulario input[type=number] { -moz-appearance:textfield; }



@media screen and (max-width: 450px){
    .formularioContainer h3{
        font-size: 30px;
    }
    .formularios{
        flex-direction: column;
        align-items: center;
    }
    .formulario{
        width: 70%;
        margin-bottom: 20px;
    }
}