.acercaDeContainer{
    padding: 30px 130px;
}

.acercaDeContainer ul{
    list-style: circle;
}

.acercaDeContainer p{
    color: black;
}

.acercaDeContainer ul li{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    color: black;
}

.acercaDeContainer h3{
    text-align: center;
    font-size: 25px;
    color: black;
}

.acercaDeContainer h2{
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}