.containerQueHacemos{
    background-color:#0A2239;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.containerQueHacemos h3{
    color: #F6F7EB;
    font-size: 50px;
    border: 2px solid #F6F7EB;
    padding: 10px 20px;
}

.cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.card strong{
    font-size: 35px;
    color: white;
    text-align: center;
}

.card ul{
    background-color: white;
    list-style: circle;
    width: 100%;
    margin: 0;
    padding-left: 10px;
}

.card ul li{
    background-color: white;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}

.cardPartOne{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardPartOne strong{
    color: #0A2239;
    font-weight: 600;
    font-size: 25px;
}

.cardPartTwo{
    width: 100%;
    padding: 10px 20px;
    background-color: white;
}

@media screen and (max-width: 850px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        margin-bottom: 70px;
    }
}