.containerQueHacemos{
    background-color:#0A2239;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.containerQueHacemos h3{
    color: #F6F7EB;
    font-size: 50px;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #F6F7EB;
    padding: 40px 15px;
    width: 30%;
}

.card strong{
    font-size: 25px;
    padding-top: 50px;
    color: black;
}

.card ul{
    background-color: #F6F7EB;
    list-style: circle;
    margin-top: 20px;
    padding: 0px 30px;
}

.card ul li{
    background-color: #F6F7EB;
    margin-bottom: 20px;
    color: black;
}

.icono{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C0805;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

@media screen and (max-width: 850px){
    .cards{
        flex-direction: column;
    }
    .card{
        width: 90%;
        margin-bottom: 70px;
    }
}