.propiedadContenedor{
    height: 90vh;
    background-color: #0A2239;
    display: flex;
    justify-content: center;
    align-items: center;
}

.propiedad{
    background-color: white;
    width: 70%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: black;
}

.propiedadContenedor h2{
    font-size: 22px;
}

.propiedad strong{
    color: black;
}

.propiedad h3{
    font-size: 22px;
    font-weight: bold;
}

.zona{
    margin-top: 15px;
    font-weight: 400;
}

.descripcionPrecioContainer{
    display: flex;
}

.precio{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
}

.descripcionContainer{
    width: 70%;
    padding: 15px;
    border-right: 1px solid #0A2239;
    height: 100%;
}

.botones{
    display: flex;
    flex-direction: column;
}

.propiedad a{
    margin-top: 15px;
    text-decoration: none;
}

.wp{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #25D366;
    border: none;
    display: flex;
    align-items: center;
    width: max-content;
}

.wp a{
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 0;
}



.wp:hover{
    color: white;
}

.airbnb{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FF5A5F;
    border: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 15px;
}

.airbnb a{
    color: white;
    font-weight: 500;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 0;
}

.airbnb:hover{
    color: white;
}

.propiedad::-webkit-scrollbar {
    -webkit-appearance: none;
}

.propiedad::-webkit-scrollbar:vertical {
    width:7px;
}

.propiedad::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.propiedad::-webkit-scrollbar:horizontal {
    height: 10px;
}

.propiedad::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* color of the tracking area */
}

.propiedad::-webkit-scrollbar-thumb {
    background-color: #0A2239;
    border-radius: 20px;
    border: 2px solid #0A2239;
}

.propiedad::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.descripcion{
    display: flex;
    flex-direction: column;
}

.descripcion li{
    color: black;
    list-style-type: circle;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1300px){
    .wp a{
        color: white;
        font-weight: 500;
        font-size: 10px;
        margin-left: 5px;
        margin-top: 0;
    }
    .airbnb a{
        color: white;
        font-weight: 500;
        margin-left: 5px;
        font-size: 10px;
        margin-top: 0;
    }
    .propiedad h3{
        font-size: 15px;
    }
    .descripcionContainer{
        width: 60%;
    }
    .precio{
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 15px 5px;
    }
    
}   

@media screen and (max-width:750px){
    .propiedad{
        width: 90%;;
    }
}

@media screen and (max-width:580px){
    .propiedadContenedor h2{
        font-size: 18px;
    }
    .textoBoton{
        display: none;
    }
}

