.header{
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2{
    color: white;
    font-size: 60px;
}

.header h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.ubicacionContainer{
    background-color: #F6F7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ubicacion h3{
    color: #0A2239;
    font-size: 20px;
    margin-top: 10px;
}

.fecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.fecha h3{
    margin-left: 10px;
    margin-right: 10px;
    color: #0A2239;
    font-size: 20px;
}

.fecha img{
    margin-bottom: 10px;
}

.fecha h4{
    margin-top: 15px;
    font-size: 18px;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 130px;
    background-color: #0E0D0D;
}

.descripcion h2{
    margin-bottom: 25px;
    color: #F6F7EB;
}

.descripcion p{
    color: #F6F7EB;
    margin-bottom: 25px;
    font-size: 15px;
    word-spacing: 6px;
    letter-spacing: 2px;
    line-height: 25px;
}

.descripcion strong{
    color: #F6F7EB;
}

.viajeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #F6F7EB;
    margin-bottom: 2px solid lightgray;
}

.viaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.viaje h3{
    color: #0A2239;
    font-size: 20px;
}

.viaje h4{
    margin-top: 10px;
}

.viajeContainer img{
    margin-bottom: 20px;
}

.itinerarioContainer{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.itinerarioTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itinerarioTitulo img{
    margin-bottom: 15px;
}

.itinerarioTitulo h3{
    color: #0A2239;
    margin-left: 10px;
    margin-right: 10px;
}

.listaDias{
    display: flex;
    flex-direction: column;
}