.footer{
    display: flex;
    padding: 30px;
    position: relative;
    z-index: 99;
    justify-content: space-around;
    align-items: center;
}

.footer strong{
    margin-bottom: 15px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer li{
    text-decoration: none;
    color: #0A2239;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer a{
    text-decoration: none;
    color: #0A2239;
    margin-bottom: 20px;
    font-weight: 500;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacto ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item li{
    margin-left: 10px;
    margin-bottom: 0px!important;
}

@media screen and (max-width: 580px){
    .footer{
        flex-direction: column;
    }
}