.PropiedadesListaContainer{
    padding: 20px;
    width: 100%;
}

.listaPropiedades{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
    justify-items: center;
    width: 100%;
}

.PropiedadesListaContainer h3{
    margin-bottom: 20px;
    
}

.propiedad{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.propiedad h4{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.propiedad a{
    padding: 15px 20px;
    font-weight: 600;
    color: #F6F7EB;
    background-color: #0A2239;
    border-radius: 10px;
    border: none;
    width: max-content;
    margin-top: 10px;
}

.propiedad strong{
    color: black;
}

.propiedad .imagen{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 480px)  {
    .listaPropiedades{
        justify-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .PropiedadesListaContainer{
        padding: 5px;
    }
}