.PropiedadesListaContainer{
    padding: 20px;
    width: 100%;
    overflow: auto;
}

.PropiedadesListaContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.PropiedadesListaContainer::-webkit-scrollbar:vertical {
    width:7px;
}

.PropiedadesListaContainer::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.PropiedadesListaContainer::-webkit-scrollbar:horizontal {
    height: 10px;
}

.PropiedadesListaContainer::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* color of the tracking area */
}

.PropiedadesListaContainer::-webkit-scrollbar-thumb {
    background-color: #0A2239;
    border-radius: 20px;
    border: 2px solid #0A2239;
}

.PropiedadesListaContainer::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.listaPropiedades{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 20%));
    justify-items: center;
    width: 100%;
}

.PropiedadesListaContainer h3{
    margin-bottom: 20px;
}

.propiedad{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.propiedad h4{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.viewmore{
    padding: 15px 20px;
    font-weight: 600;
    color: #F6F7EB;
    background-color: #0A2239;
    border-radius: 10px;
    border: none;
    width: max-content;
    margin-top: 10px;
    border: 1px solid white;
}

.viewmore:hover{
    transition: 0.5s;
    color: #F6F7EB;
    border: 1px solid #0A2239;
}

.infoContainer{
    background-color: #0A2239;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.propiedad strong{
    color: white;
}

.propiedad .imagen{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.carruselItem{
    display: block;
    width: 100%;
    background-size: cover;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 950px)  {
    .listaPropiedades{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .PropiedadesListaContainer{
        padding: 5px;
    }
}

@media screen and (max-width: 840px)  {
    .listaPropiedades{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .PropiedadesListaContainer{
        padding: 5px;
    }
}

@media screen and (max-width: 570px)  {
    .listaPropiedades{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .PropiedadesListaContainer{
        background-color: white;
        margin: 0px 10px;
        padding: 33px 0px;
    }
    .propiedad strong{
        font-size: 13px;
    }
    
    .propiedad .imagen{
        height: 150px;
    }
    .propiedad h4{
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 330px){
    .listaPropiedades{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}   
