.HeaderDosContainer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A2239;
    color: white;
    font-size: 30px;
}

.HeaderDosContainer h2{
    margin: 0;
    letter-spacing: 2.5px;
}

@media screen and (max-width: 400px){
    .HeaderDosContainer{
        font-size: 30px;
    }
}