.container{
    scroll-behavior: smooth;
    padding-top: 100px;
}

@media screen and (max-width: 650px){
    .container{
        padding-top: 60px;
    }
}



@media screen and (max-width: 570px){
    .containerGlobalLista{
        background-color: #0A2239;
    }
}

@media screen and (max-width: 520px){
    .container{
        padding-top: 33px;
    }
}